body {
    margin: 0 30px 20px 10px;
    margin: 0 0.1875rem 0.125rem 0.0625rem;
}

header {
    font-size: 28px;
    font-size: 0.175rem;
}

.box {
    padding: 20px 0;
    padding: 0.125rem 0;
}

footer {
    border: 1px solid #ccc;
    padding-top: 17.975308624px;
    padding-top: 0.11235rem;
}

@media screen and (max-width: 300) {
    body {
        margin: 100px 200px 0 10px;
        margin: 0.625rem 1.25rem 0 0.0625rem;
    }
}

@media screen and (max-width: 300px) {
    body {
        margin: 100px 200px 0 10px;
        margin: 0.625rem 1.25rem 0 0.0625rem;
    }
}
